<template>
  <div>
    <!-- Terminate Process Instance Modal -->
    <terminate-process-instance-modal
      :is-open="isOpen"
      :process-instance-id="processInstance.process_instance_id"
      @toggle="isOpen = !isOpen"
      @toggleAndRefresh="toggleModalAndRefresh()"
    />
    <!-- Column wrapper -->
    <div class="flex-grow w-full max-w-7xl mx-auto xl:px-8 lg:flex">
      <!-- Main wrapper -->
      <div class="flex-1 min-w-0 bg-white">
        <!-- About the instance -->
        <div
          class="pl-4 pr-6 pt-4 pb-4 border-b border-t border-gray-200 sm:pl-6 lg:pl-8 xl:pl-6 xl:pt-6 xl:border-t-0"
        >
          <div class="flex items-center">
            <h1 class="flex-1 text-lg leading-7 font-medium">
              {{ processInstance.name }}
            </h1>
            <span
              v-if="processInstance.state === 'ACTIVE'"
              class="inline-flex rounded-md shadow-sm mr-4"
            >
              <button
                type="button"
                class="inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition ease-in-out duration-150"
                title="Suspend process instance"
                @click="suspend()"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="-ml-1 mr-2 h-5 w-5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    fill-rule="evenodd"
                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zM7 8a1 1 0 012 0v4a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v4a1 1 0 102 0V8a1 1 0 00-1-1z"
                    clip-rule="evenodd"
                  />
                </svg>
                Suspend
              </button>
            </span>
            <span
              v-else-if="processInstance.state === 'SUSPENDED'"
              class="inline-flex rounded-md shadow-sm mr-4"
            >
              <button
                type="button"
                class="inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition ease-in-out duration-150"
                title="Resume process instance"
                @click="resume()"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="-ml-1 mr-2 h-5 w-5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    fill-rule="evenodd"
                    d="M10.293 15.707a1 1 0 010-1.414L14.586 10l-4.293-4.293a1 1 0 111.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z"
                    clip-rule="evenodd"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M4.293 15.707a1 1 0 010-1.414L8.586 10 4.293 5.707a1 1 0 011.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z"
                    clip-rule="evenodd"
                  />
                </svg>
                Resume
              </button>
            </span>
            <span
              v-if="
                processInstance.state === 'ACTIVE' ||
                processInstance.state === 'SUSPENDED'
              "
              class="inline-flex"
            >
              <button
                type="button"
                class="inline-flex items-center px-4 py-2 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:text-gray-800 active:bg-gray-50 transition ease-in-out duration-150"
                title="Terminate process instance"
                @click="isOpen = !isOpen"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="-ml-1 mr-2 h-5 w-5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    fill-rule="evenodd"
                    d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
                    clip-rule="evenodd"
                  />
                </svg>
                Terminate
              </button>
            </span>
          </div>
        </div>
        <div class="bg-white overflow-hidden">
          <failed-external-tasks
            :process-instance="processInstance"
            @refresh="refresh()"
          />
          <h2 class="px-4 pt-4 sm:px-6 text-base leading-6 font-medium">
            Instance log
          </h2>
          <ul>
            <log-entry
              v-for="(
                activityInstance, index
              ) in processInstance.activity_instances"
              :key="activityInstance.id"
              :item="activityInstance"
              :process-instance="processInstance"
              :first-item="index === 0"
              @refresh="refresh()"
            />
          </ul>
        </div>
      </div>
      <!-- Sidebar with details -->
      <div
        class="bg-gray-50 pr-4 sm:pr-6 lg:pr-8 lg:flex-shrink-0 lg:border-l lg:border-gray-200 xl:pr-0"
      >
        <div class="pl-6 lg:w-80">
          <div class="pt-6 pb-2">
            <h2 class="text-sm leading-5 font-semibold">About the instance</h2>
          </div>
          <div>
            <ul class="divide-y divide-gray-200">
              <li class="py-4">
                <div
                  class="mt-2 flex items-center text-sm leading-5 text-gray-500"
                >
                  <state-icon
                    :state="processInstance.state"
                    css-classes="flex-shrink-0 mr-1.5 h-5 w-5 text-green-400"
                  />
                  {{ processInstance.state }}
                </div>
              </li>
              <li class="py-4">
                <div class="space-y-1">
                  <div class="flex flex-col">
                    <h3 class="text-sm font-medium leading-5">Identifier</h3>
                    <p class="text-sm leading-5 text-gray-500">
                      {{ processInstance.process_instance_id }}
                    </p>
                  </div>
                  <div class="flex flex-col">
                    <h3 class="text-sm font-medium leading-5">Business key</h3>
                    <p class="text-sm leading-5 text-gray-500">
                      {{ processInstance.business_key }}
                    </p>
                  </div>
                  <div class="flex flex-col">
                    <h3 class="text-sm font-medium leading-5">Start time</h3>
                    <p class="text-sm leading-5 text-gray-500">
                      <time
                        :datetime="
                          $moment(processInstance.created_at).format(
                            'YYYY-MM-DD'
                          )
                        "
                      >
                        {{
                          $moment(processInstance.created_at).format(
                            'DD.MM.YYYY HH:mm'
                          )
                        }}
                      </time>
                    </p>
                  </div>
                </div>
              </li>
              <li class="py-4">
                <div v-if="processInstance.description" class="flex flex-col">
                  <h3 class="text-sm font-medium leading-5">Description</h3>
                  <p class="text-sm leading-5 text-gray-500">
                    {{ processInstance.description }}
                  </p>
                </div>
              </li>
            </ul>
            <div class="border-t border-gray-200">
              <div
                v-if="
                  processInstance.state === 'ACTIVE' ||
                  processInstance.state === 'SUSPENDED'
                "
                class="py-4 text-sm leading-5"
              >
                <a
                  :href="
                    camundaCockpitUrl +
                    'process-instance/' +
                    processInstance.process_instance_id
                  "
                  target="_blank"
                  class="text-indigo-600 font-semibold hover:text-indigo-900"
                  title="View process instance in Camunda Cockpit"
                  >View in Camunda Cockpit &rarr;</a
                >
              </div>
              <div class="py-4 text-sm leading-5">
                <button
                  class="text-indigo-600 font-semibold hover:text-indigo-900"
                  title="Refresh process instance state"
                  @click="refresh()"
                >
                  Refresh state
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import StateIcon from '../../components/StateIcon.vue'
import LogEntry from '../../components/LogEntry.vue'
import TerminateProcessInstanceModal from '../../components/TerminateProcessInstanceModal.vue'
import FailedExternalTasks from '../../components/FailedExternalTasks.vue'

export default {
  components: {
    StateIcon,
    LogEntry,
    TerminateProcessInstanceModal,
    FailedExternalTasks,
  },
  async asyncData({ params, $axios }) {
    const processInstance = await $axios
      .$get(`/process-instances/${params.id}`)
      .then((res) => res.data)
    return { processInstance }
  },
  data() {
    return {
      camundaCockpitUrl: process.env.camundaCockpitUrl,
      isOpen: false,
    }
  },
  methods: {
    async suspend() {
      await this.$axios.$post(
        `/process-instances/${this.$route.params.id}/suspend`
      )
      this.$nuxt.refresh()
    },
    async resume() {
      await this.$axios.$post(
        `/process-instances/${this.$route.params.id}/resume`
      )
      this.$nuxt.refresh()
    },
    toggleModalAndRefresh() {
      this.isOpen = !this.isOpen
      this.$nuxt.refresh()
    },
    refresh() {
      this.$nuxt.refresh()
    },
  },
}
</script>

<style></style>
