<template>
  <div>
    <!-- Column wrapper -->
    <div class="flex-grow w-full max-w-7xl mx-auto xl:px-8 lg:flex">
      <!-- Main wrapper -->
      <div class="flex-1 min-w-0 bg-white">
        <!-- Projects List -->
        <div
          class="pl-4 pr-6 pt-4 pb-4 border-b border-t border-gray-200 sm:pl-6 lg:pl-8 xl:pl-6 xl:pt-6 xl:border-t-0"
        >
          <div class="flex items-center">
            <h1 class="flex-1 text-lg leading-7 font-medium">Projects</h1>
            <span class="inline-flex rounded-md shadow-sm">
              <button
                type="button"
                class="inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition ease-in-out duration-150"
                @click="isOpen = !isOpen"
              >
                New Process
              </button>
            </span>
          </div>
        </div>

        <ul
          class="relative z-0 divide-y divide-gray-200 border-b border-gray-200"
        >
          <!-- Process instance -->
          <li
            v-for="process in processes"
            :key="process.business_key"
            class="relative pl-4 pr-6 py-5 hover:bg-gray-50 sm:py-6 sm:pl-6 lg:pl-8 xl:pl-6"
          >
            <div class="flex items-center space-x-4">
              <div class="min-w-0 flex-1 md:grid md:grid-cols-2 md:gap-4">
                <!-- Process instance name and link -->
                <div class="min-w-0 space-y-3">
                  <div class="flex items-center space-x-3 md:space-x-0">
                    <span
                      aria-label="Running"
                      class="md:hidden h-4 w-4 bg-green-100 rounded-full flex items-center justify-center"
                    >
                      <span class="h-2 w-2 bg-green-400 rounded-full"></span>
                    </span>

                    <span class="block">
                      <h2 class="text-sm font-medium leading-5">
                        <NuxtLink
                          :to="{
                            name: 'process-instances-id',
                            params: { id: process.process_instance_id },
                          }"
                        >
                          <span class="absolute inset-0"></span>
                          {{ process.name || process.process_definition_key }}
                        </NuxtLink>
                      </h2>
                    </span>
                  </div>
                  <a
                    :href="
                      camundaCockpitUrl +
                      'process-definition/' +
                      process.process_definition_id
                    "
                    target="_blank"
                    class="relative group flex items-center space-x-2.5"
                  >
                    <svg
                      class="flex-shrink-0 w-5 h-5 text-gray-400 group-hover:text-gray-500"
                      height="64"
                      width="64"
                      viewBox="0 0 64 64"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="m23.796 59.5c-5.18 5.373-13.72 5.47-18.998.288s-5.47-13.72-.192-18.998c5.18-5.373 13.72-5.47 18.998-.288s5.373 13.625.192 18.998zm36.846-29.755 1.535 5.66-6.237 2.6-2.975-5 .192-.096c-2.207.384-4.5.48-6.813 0l-2.975 5-6.237-2.6 1.44-5.66.096.096c-1.823-1.343-3.454-2.88-4.702-4.702l-5.66 1.44-2.6-6.237 5-2.975.096.192c-.384-2.207-.384-4.5 0-6.813l-5-2.975 2.6-6.237 5.66 1.44-.096.192c.768-1.15 1.63-2.1 2.687-3.07h-32.431c-2.302 0-4.126 1.92-4.126 4.222v27.25l3.838 2.783-.096.096c1.92-1.247 3.934-2.1 6.14-2.6l.768-5.66 6.62-.096.864 5.66h-.192c2.1.384 4.222 1.247 6.14 2.4l4.5-3.454 4.702 4.606-3.358 4.606-.096-.096a19.09 19.09 0 0 1 2.6 6.045l5.66.768.096 6.62-5.66.96v-.192c-.48 2.1-1.247 4.222-2.4 6.14l3.073 3.942h26.483c2.303 0 4.126-1.823 4.126-4.222v-32.72zm1.728-10.46c-2.87 7.015-10.94 10.268-17.847 7.39-7.004-2.88-10.267-10.94-7.388-17.847 2.877-7.005 10.937-10.268 17.845-7.388 7.004 2.88 10.267 10.843 7.388 17.847z"
                        fill="currentcolor"
                      />
                    </svg>
                    <div
                      class="text-sm leading-5 text-gray-500 group-hover:text-gray-900 font-medium truncate"
                    >
                      {{ process.process_definition_key }}
                    </div>
                  </a>
                </div>
                <!-- Meta information -->
                <div class="hidden md:block">
                  <div>
                    <div class="text-sm leading-5 text-gray-900">
                      Last updated
                      <time
                        :datetime="
                          $moment(process.updated_at).format('YYYY-MM-DD')
                        "
                      >
                        {{ $moment(process.updated_at).fromNow() }}
                      </time>
                      <!-- <time datetime="2020-01-07">January 7, 2020</time> -->
                    </div>
                    <div
                      class="mt-2 flex items-center text-sm leading-5 text-gray-500"
                    >
                      <!-- Heroicon -->
                      <state-icon
                        :state="process.state"
                        css-classes="flex-shrink-0 mr-1.5 h-5 w-5 text-green-400"
                      ></state-icon>
                      <!-- Heroicon name: check-circle -->
                      {{ process.state }}
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <!-- Heroicon name: chevron-right -->
                <svg
                  class="h-5 w-5 text-gray-400"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    fill-rule="evenodd"
                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                    clip-rule="evenodd"
                  />
                </svg>
              </div>
            </div>
          </li>
          <!-- /Process instance -->
        </ul>
      </div>

      <!-- Activity feed -->
      <div
        class="bg-gray-50 pr-4 sm:pr-6 lg:pr-8 lg:flex-shrink-0 lg:border-l lg:border-gray-200 xl:pr-0"
      >
        <div class="pl-6 lg:w-80">
          <div class="pt-6 pb-2">
            <h2 class="text-sm leading-5 font-semibold">DTM Frontend</h2>
          </div>
        </div>
      </div>
    </div>
    <!-- Sideover -->
    <create-process-instance-sideover
      :is-open="isOpen"
      @toggle="isOpen = !isOpen"
      @refresh="closeSideoverAndRefresh()"
    />
  </div>
</template>

<script>
import CreateProcessInstanceSideover from '../../components/CreateProcessInstanceSideover.vue'
import StateIcon from '../../components/StateIcon.vue'

export default {
  components: { CreateProcessInstanceSideover, StateIcon },
  data() {
    return {
      camundaCockpitUrl: process.env.camundaCockpitUrl,
      isOpen: false,
      processes: [],
      polling: null,
    }
  },
  async fetch() {
    this.processes = await this.$axios
      .$get('/process-instances')
      .then((res) => res.data)
  },
  created() {
    this.pollProcesses()
  },
  beforeDestroy() {
    clearInterval(this.polling)
  },
  methods: {
    pollProcesses() {
      this.polling = setInterval(() => {
        this.$fetch()
      }, 60000)
    },
    closeSideoverAndRefresh() {
      this.isOpen = !this.isOpen
      this.$fetch()
    },
  },
}
</script>

<style>
/* Sample `apply` at-rules with Tailwind CSS
.container {
@apply min-h-screen flex justify-center items-center text-center mx-auto;
}
*/
</style>
