<template>
  <div v-show="isOpen" class="fixed inset-0 overflow-hidden">
    <div v-show="isOpen" class="absolute inset-0 overflow-hidden">
      <transition
        enter-active-class="ease-in-out duration-500"
        enter-from-class="opacity-0"
        enter-to-class="opacity-100"
        leave-active-class="ease-in-out duration-500"
        leave-from-class="opacity-100"
        leave-to-class="opacity-0"
      >
        <div
          v-show="isOpen"
          class="absolute inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
        ></div>
      </transition>

      <section
        class="absolute inset-y-0 right-0 pl-10 max-w-full flex sm:pl-16"
      >
        <transition
          enter-active-class="transform transition ease-in-out duration-500 sm:duration-700"
          enter-from-class="translate-x-full"
          enter-to-class="translate-x-0"
          leave-active-class="transform transition ease-in-out duration-500 sm:duration-700"
          leave-from-class="translate-x-0"
          leave-to-class="translate-x-full"
        >
          <div v-show="isOpen" class="w-screen max-w-6xl">
            <div
              class="h-full flex flex-col bg-white shadow-xl overflow-y-scroll"
            >
              <form
                @submit.prevent="submit()"
                @keydown.enter.prevent="submit()"
              >
                <!-- Form -->
                <div class="flex-1">
                  <!-- Header -->
                  <header class="px-4 py-6 bg-gray-50 sm:px-6">
                    <div class="flex items-start justify-between space-x-3">
                      <div class="space-y-1">
                        <h2 class="text-lg leading-7 font-medium text-gray-900">
                          New Process
                        </h2>
                        <p class="text-sm text-gray-500 leading-5">
                          Get started by filling in the information below to
                          create your new process.
                        </p>
                      </div>
                      <div class="h-7 flex items-center">
                        <button
                          type="button"
                          aria-label="Close panel"
                          class="text-gray-400 hover:text-gray-500 transition ease-in-out duration-150"
                          @click="toggle()"
                        >
                          <!-- Heroicon name: x -->
                          <svg
                            class="h-6 w-6"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                          >
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              d="M6 18L18 6M6 6l12 12"
                            />
                          </svg>
                        </button>
                      </div>
                    </div>
                  </header>

                  <!-- Divider container -->
                  <div
                    class="py-6 space-y-6 sm:py-0 sm:space-y-0 sm:divide-y sm:divide-gray-200"
                  >
                    <!-- Process definition -->
                    <div
                      class="space-y-1 px-4 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5"
                    >
                      <div>
                        <label
                          for="process_definition"
                          class="block text-sm font-medium leading-5 text-gray-900 sm:mt-px sm:pt-2"
                        >
                          Prozess
                        </label>
                      </div>
                      <div class="sm:col-span-2">
                        <div class="rounded-md shadow-sm">
                          <select
                            id="process_definition"
                            v-model="processDefinitionSelected"
                            class="mt-1 form-select block w-full pl-3 pr-10 py-2 text-base leading-6 border-gray-300 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 sm:text-sm sm:leading-5"
                            required
                            @change="getStartFormVariables()"
                          >
                            <option
                              v-for="processDefinition in processDefinitions"
                              :key="processDefinition.key"
                              :value="processDefinition.key"
                            >
                              {{
                                processDefinition.name || processDefinition.key
                              }}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <!-- Process name -->
                    <div
                      class="space-y-1 px-4 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5"
                    >
                      <div>
                        <label
                          for="process_name"
                          class="block text-sm font-medium leading-5 text-gray-900 sm:mt-px sm:pt-2"
                        >
                          Name
                        </label>
                      </div>
                      <div class="sm:col-span-2">
                        <div class="rounded-md shadow-sm">
                          <input
                            id="process_name"
                            v-model="process.name"
                            class="form-input block w-full sm:text-sm sm:leading-5"
                            placeholder=""
                          />
                        </div>
                      </div>
                    </div>

                    <!-- Business key -->
                    <div
                      class="space-y-1 px-4 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5"
                    >
                      <div>
                        <label
                          for="business_key"
                          class="block text-sm font-medium leading-5 text-gray-900 sm:mt-px sm:pt-2"
                        >
                          Business Key
                        </label>
                      </div>
                      <div class="sm:col-span-2">
                        <div class="rounded-md shadow-sm">
                          <input
                            id="business_key"
                            v-model="process.business_key"
                            class="form-input block w-full sm:text-sm sm:leading-5"
                            placeholder=""
                          />
                        </div>
                      </div>
                    </div>

                    <!-- Start Form Variables -->
                    <div
                      v-for="startVariable in process.start_form_variables"
                      :key="startVariable.name"
                      class="space-y-1 px-4 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5"
                    >
                      <div>
                        <label
                          :for="startVariable.name"
                          class="block text-sm font-medium leading-5 text-gray-900 sm:mt-px sm:pt-2"
                        >
                          {{ startVariable.label }}
                        </label>
                      </div>
                      <div class="sm:col-span-2">
                        <component
                          :is="startVariable.type"
                          :name="startVariable.name"
                          :value="startVariable.value || ''"
                          @input="startVariable.value = $event"
                        />
                      </div>
                    </div>

                    <!-- Process description -->
                    <div
                      class="space-y-1 px-4 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5"
                    >
                      <div>
                        <label
                          for="process_description"
                          class="block text-sm font-medium leading-5 text-gray-900 sm:mt-px sm:pt-2"
                        >
                          Beschreibung
                        </label>
                      </div>
                      <div class="sm:col-span-2">
                        <div class="flex rounded-md shadow-sm">
                          <textarea
                            id="process_description"
                            v-model="process.description"
                            rows="3"
                            class="form-textarea block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                          ></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Action buttons -->
                <div
                  class="flex-shrink-0 px-4 border-t border-gray-200 py-5 sm:px-6"
                >
                  <div class="space-x-3 flex justify-end">
                    <span class="inline-flex rounded-md shadow-sm">
                      <button
                        type="button"
                        class="py-2 px-4 border border-gray-300 rounded-md text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800 transition duration-150 ease-in-out"
                        @click="toggle()"
                      >
                        Cancel
                      </button>
                    </span>
                    <span class="inline-flex rounded-md shadow-sm">
                      <button
                        type="submit"
                        class="inline-flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out"
                        @click.prevent="submit()"
                      >
                        Create
                      </button>
                    </span>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </transition>
      </section>
    </div>
  </div>
</template>
<script>
import String from './fields/String.vue'

export default {
  components: {
    String,
  },
  props: {
    isOpen: Boolean,
  },
  data: () => ({
    processDefinitions: [],
    processDefinitionSelected: '',
    process: {
      name: '',
      business_key: '',
      description: '',
      start_form_variables: [],
    },
    errors: [],
  }),
  async fetch() {
    this.processDefinitions = await this.$axios
      .$get('/process-definitions')
      .then((res) => res.data)
  },
  methods: {
    submit() {
      if (this.processDefinitionSelected) {
        this.$axios
          .$post(
            `/process-definitions/${this.processDefinitionSelected}/start`,
            this.process
          )
          .then((response) => {
            this.$emit('refresh')
          })
          .catch(function (error) {
            console.log(error.response.data)
          })
      }
    },
    getStartFormVariables() {
      this.$axios
        .get(
          `/process-definitions/${this.processDefinitionSelected}/form-variables`
        )
        .then((response) => {
          for (const [key, value] of Object.entries(response.data.data)) {
            this.process.start_form_variables.push({
              name: key,
              label: key.split('_').pop(),
              type: value.type,
              value: value.value,
            })
          }
        })
    },
    toggle() {
      this.$emit('toggle')
    },
  },
}
</script>
