<template>
  <div>
    <failed-external-task
      v-for="(failedExternalTask, index) in failedExternalTasks"
      :key="failedExternalTask.id"
      :first-item="index === 0"
      :failed-external-task="failedExternalTask"
      :process-instance-id="processInstance.process_instance_id"
      @refresh="refresh()"
    />
  </div>
</template>

<script>
import FailedExternalTask from './FailedExternalTask.vue'
export default {
  components: { FailedExternalTask },
  props: {
    processInstance: {
      type: Object,
      required: true,
      default() {
        return {}
      },
    },
  },
  data() {
    return {
      failedExternalTasks: [],
    }
  },
  async fetch() {
    this.failedExternalTasks = await this.$axios
      .$get(
        `/process-instances/${this.processInstance.process_instance_id}/failedExternalTasks`
      )
      .then((res) => res.data)
  },
  methods: {
    refresh() {
      this.$emit('refresh')
    },
  },
}
</script>
