<template>
  <li :class="{ 'border-t border-gray-200': !firstItem }">
    <!-- List Entry -->
    <!-- <a
      href="#"
      class="block hover:bg-gray-50 focus:outline-none focus:bg-gray-50 transition duration-150 ease-in-out"
    >
    </a> -->
    <div class="px-4 py-4 sm:px-6">
      <div class="flex items-center justify-between">
        <div class="text-sm leading-5 font-medium text-indigo-600 truncate">
          {{ item.activity_name || item.activity_id }}
        </div>
        <div class="ml-2 flex-shrink-0 flex">
          <span
            v-if="item.end_time !== null && item.activity_canceled === false"
            class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800"
          >
            Finished {{ $moment(item.end_time).fromNow() }}
          </span>
          <span
            v-else-if="
              item.end_time !== null && item.activity_canceled === true
            "
            class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800"
          >
            Canceled {{ $moment(item.end_time).fromNow() }}
          </span>
          <span
            v-else-if="item.end_time === null"
            class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-gray-100 text-gray-800"
          >
            Running since {{ $moment(item.start_time).fromNow(true) }}
          </span>
        </div>
      </div>
      <div class="mt-2 sm:flex sm:justify-between">
        <div class="sm:flex">
          <div class="mr-6 flex items-center text-sm leading-5 text-gray-500">
            <!-- Log Entry: Type Icon -->
            <log-entry-type-icon :type="item.activity_type" />
            {{ item.activity_type }}
          </div>
          <div
            class="mt-2 flex items-center text-sm leading-5 text-gray-500 sm:mt-0"
          >
            {{ item.activity_instance_id || item.activity_id }}
          </div>
        </div>
        <div
          v-if="item.activity_source === 'api'"
          class="mt-2 flex items-center text-sm leading-5 text-gray-500 sm:mt-0"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M2 5a2 2 0 012-2h12a2 2 0 012 2v10a2 2 0 01-2 2H4a2 2 0 01-2-2V5zm3.293 1.293a1 1 0 011.414 0l3 3a1 1 0 010 1.414l-3 3a1 1 0 01-1.414-1.414L7.586 10 5.293 7.707a1 1 0 010-1.414zM11 12a1 1 0 100 2h3a1 1 0 100-2h-3z"
              clip-rule="evenodd"
            />
          </svg>
          <span>
            {{ item.activity_source }}
          </span>
        </div>
      </div>
      <div class="mt-2 sm:flex sm:justify-between">
        <div class="sm:flex">
          <div class="mr-6 flex items-center text-sm leading-5 text-gray-500">
            <svg
              class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                clip-rule="evenodd"
              />
            </svg>
            started at&nbsp;
            <time
              :datetime="$moment(item.start_time).format('YYYY-MM-DD HH:mm')"
            >
              {{ $moment(item.start_time).format('DD.MM.YYYY HH:mm:ss') }}
            </time>
          </div>
        </div>
        <button
          href="#"
          class="block hover:bg-gray-50 focus:outline-none focus:bg-gray-50 transition duration-150 ease-in-out"
          @click="isOpen = !isOpen"
        >
          <div
            v-if="
              item.activity_source === 'api' &&
              processInstance.state === 'ACTIVE'
            "
            class="mt-2 flex items-center text-sm leading-5 text-gray-500 sm:mt-0"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M4 2a1 1 0 011 1v2.101a7.002 7.002 0 0111.601 2.566 1 1 0 11-1.885.666A5.002 5.002 0 005.999 7H9a1 1 0 010 2H4a1 1 0 01-1-1V3a1 1 0 011-1zm.008 9.057a1 1 0 011.276.61A5.002 5.002 0 0014.001 13H11a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2 0v-2.101a7.002 7.002 0 01-11.601-2.566 1 1 0 01.61-1.276z"
                clip-rule="evenodd"
              />
            </svg>
            <span>restart</span>
          </div>
        </button>
      </div>
    </div>
    <!-- Restart Activity Modal -->
    <restart-activity-modal
      v-if="item.activity_instance_id != null"
      :is-open="isOpen"
      :process-instance-id="processInstance.process_instance_id"
      :activity-id="item.activity_id"
      @toggleAndRefresh="toggleModalAndRefresh()"
    />
  </li>
</template>

<script>
import LogEntryTypeIcon from './LogEntryTypeIcon.vue'
import RestartActivityModal from './RestartActivityModal.vue'

export default {
  components: { LogEntryTypeIcon, RestartActivityModal },
  props: {
    item: {
      type: Object,
      required: true,
      default() {
        return {}
      },
    },
    firstItem: {
      type: Boolean,
      default: false,
    },
    processInstance: {
      type: Object,
      required: true,
      default() {
        return {}
      },
    },
  },
  data() {
    return {
      isOpen: false,
    }
  },
  methods: {
    toggleModalAndRefresh() {
      this.isOpen = !this.isOpen
      this.$emit('refresh')
    },
  },
}
</script>
