<template>
  <svg
    :class="cssClasses"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 20 20"
    fill="currentColor"
  >
    <!-- PLAY icon -->
    <path
      v-if="state == 'ACTIVE'"
      fill-rule="evenodd"
      d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z"
      clip-rule="evenodd"
    />
    <!-- PAUSE icon -->
    <path
      v-else-if="state == 'SUSPENDED'"
      fill-rule="evenodd"
      d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zM7 8a1 1 0 012 0v4a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v4a1 1 0 102 0V8a1 1 0 00-1-1z"
      clip-rule="evenodd"
    />
    <!-- CHECK icon -->
    <path
      v-else-if="state == 'COMPLETED'"
      fill-rule="evenodd"
      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
      clip-rule="evenodd"
    />
    <!-- X icon -->
    <path
      v-else-if="
        state == 'TERMINATED' ||
        state == 'EXTERNALLY_TERMINATED' ||
        state == 'INTERNALLY_TERMINATED'
      "
      fill-rule="evenodd"
      d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
      clip-rule="evenodd"
    />
    <!-- EXCLAMATION icon -->
    <path
      v-else
      fill-rule="evenodd"
      d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
      clip-rule="evenodd"
    />
  </svg>
</template>

<script>
export default {
  props: {
    state: {
      type: String,
      default: 'ACTIVE',
    },
    cssClasses: {
      type: String,
      default: 'flex-shrink-0 mr-1.5 h-5 w-5',
    },
  },
}
</script>
