<template>
  <div class="rounded-md shadow-sm">
    <input
      :id="name"
      :value="value"
      class="form-input block w-full sm:text-sm sm:leading-5"
      placeholder=""
      @input="$emit('input', $event.target.value)"
    />
  </div>
</template>

<script>
export default {
  name: 'String',
  props: {
    name: {
      type: String,
      required: true,
      default: '',
    },
    value: {
      type: String,
      required: true,
      default: '',
    },
  },
}
</script>
